{% extends "layouts/base-home.html" %}
{% block title %} Board {% endblock %} 
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Search Theaters</h2>
    </div>
    <hr>
    <div class="row">
      {% for show, venue in shows %}
    <!-- <h2>Show Name : {{ show.name }}</h2>
     -->
     <!-- clickable  lable  -->
    <a href="/show/{{ show.id }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Show : {{ show.name }}</a>
    <p>Ticket price: Rs. {{ show.ticketPrice }}</p>
    <p>Date: {{ show.date }}</p>
    <p>Start time: {{ show.startTime }}</p>
    <p>End time: {{ show.endTime }}</p>
    <p>Rating: {{ show.rating }}</p>
    <p>Tags: {{ show.tags }}</p>
    <p>Venue: {{ venue.name }}</p>
    <p>Address: {{ venue.place }}</p>
    <p>Capacity: {{ venue.capacity }}</p>
{% endfor %}
      <div class="col-md-12">
        
    </div>
    <hr>
    <div class="row">
    </div>
    </div>
    


    </section>
{% endblock content %}

